@import './theme-light.css';
@import './theme-dark.css';
@import './theme-purple.css';

/* 应用主题变量到全局元素 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body,
.qm-app {
  background: var(--color-background);
  color: var(--color-text-primary);
}
